body{padding: 0; margin:0; background-color: rgba(100,179,192,0.5);}
li{list-style: none;}
input::-webkit-input-placeholder{
    font-size: 0.9em;
}
.searchBox{width: 530px; height: 40px; position: fixed; top: 80px; left: auto; z-index:3;}
.searchBox .searchLogo{ font-size: 21px; padding: 9px; opacity: 0.7; filter: alpha(opacity:70);
    background-color: rgba(55,73,229,0.84); color: white; border: 1px rgba(55,73,229,0.84) solid;
    border-top: none; cursor: pointer; border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.searchBox #txtSearch{width: 80%; height: 90%; padding: 4px; font-size: 1.3em; text-indent: 15px;
    outline-style: none; border: 1px rgba(0,0,0,0.6) solid;
    border-right: none; border-top-left-radius: 10px; border-bottom-left-radius:10px;
    font-family: "Microsoft YaHei UI", sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    color: rgba(0,0,0,0.84); caret-color: #5680ff;}
.searchBox .searchResult{width: 81%; height: 170px; background-color: white;
    margin-top: 5px; text-align: left; text-indent: 20px; padding: 0;
    line-height: 32px; border: 1px rgba(0,0,0,0.6) solid;
    overflow: hidden; border-radius: 10px;  display: none; height:0;}
.searchBox .searchResult li{height:34px;; width: 102%; font-size: 1.6em; color: black; border-top: 1px #CCC solid;
     font-family: "Adobe Arabic",sans-serif; cursor: default;}
#showCreator{position: fixed; left: 30px; bottom: 30px; width: 120px; height: 40px; background-color: rgba(58,255,243,0.86);
border: none; border-radius: 4px; box-shadow: rgba(210,214,255,0.86) 1px 2px; opacity: 0.5; filter: alpha(opacity:60);
 font-family: "Microsoft YaHei UI Light",sans-serif; font-weight: bolder;}